<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    HOME PAGE
    <br>
    <a href="/create">Create Users</a>
    <br>
    <a href="/interview">Upcoming Interview List</a>
    <br>
    <a href="/users">User's List</a>
</body>
</html>